*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start-logo{
    padding: 30px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar{
    display: flex;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgb(88, 96, 96);
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
.searchbar input{
    background-color: rgb(88, 96, 96);
    outline: none;
    border: none;
    font-weight: 600;
    font-size: large;
}
input[type="text"]::-webkit-input-placeholder{
    color: white;
    font-weight: 300;
}
.nav-cont{
    margin-right: 2rem;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower-nav{
    margin-left: 70px;
}
.button1, .button2, .button3, .button4, .button5, .button6{
    padding: 5px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.button1, .button4{
    border: 2px solid blue;
}
.button2, .button6{
    border: 2px solid red;
}
.button3{
    border: 2px solid yellow;
}
.button5{
    border: 2px solid green;
}

.main-content{
    margin: 2em 0 0 4.5em;
}
.main-content ul{
    margin-left: 1.5em;
}
.main-content p{
    font-size: 1em;
}