*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-image: url(background7.png);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
nav{
    margin-left: 5%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start-logo{
    padding: 30px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar{
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 9px 15px;
    background-color: rgb(88, 96, 96);
    width: 60%;
}
.searchbar input{
    background-color: rgb(88, 96, 96);
    outline: none;
    border: none;
    font-weight: 600;
    font-size: large;
}
input[type="text"]::-webkit-input-placeholder{
    color: white;
    font-weight: 300;
}
.nav-cont{
    margin-right: 4%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lower-nav{
    margin-left: 10%;
}
.button{
    padding: 5px;
    font-size: 1rem;
    background-color: black;
    animation: border-button 12s ease 0s infinite;
    color: white;
    border-radius: 20px;
}
@keyframes border-button {
    0%{border: 2px solid blue;}
    25%{border: 2px solid red;}
    50%{border: 2px solid yellow;}
    75%{border: 2px solid green;}
    100%{border: 2px solid blue;}
}

.main-content{
    margin: 2em 10% 0 10%;
    width: 80%;
    display: flex;
}
.left-side{
    /* width: 50%; */
    margin-left: 0;
}
.left-side a{
    font-weight: 500;
    text-decoration: none;
    font-size: 1.8vw;
    color: #599eff;
}
.left-side ul{
    margin: 0 0 0 3em;
    font-size: medium;
}
.left-side p{
    font-weight: 700;
    font-size: 1em;
    color: antiquewhite;
}

.contact, .extra, .experience, .skills, .education, .certificate{
    margin: 2% 0 5% 0;
    line-height: 1.5rem;
}
